:root{
    --red:#DA0037;
    --greenish:#11CC9E;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 62.5%;
}
 body{
     background-color: #ffff;
 }

header{
    font-family:'Roboto',sans-serif;
    
}
.logo{
    
}