
:root{
    --red:#DA0037;
    --greenish:#11CC9E;
    --white:#ffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;;
}
 body{
     background-color: #121212;
 }
a{
    text-decoration: none;
    color: var(--white);
}

header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    min-width: 320px;
    height: 50px;
}
.home_button{
    font-size: 2.5rem;
}
.home_button:hover{
    color: var(--greenish);

}

.header_container{
    color: var(--white);
}
main {
    color: var(--white);
}