
:root{
    --red:#DA0037;
    --greenish:#11CC9E;
    --white:#ffff;
    --redop:#da0037f3;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;;
    background-color: #121212;
}
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 320px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    background-color:var(--red);
    padding-left: 20px;
    padding-right: 20px;
}
.header_container{
    display: flex;
    color: var(--white);
}
.logo{
    position: relative;
    margin-top: -9px;
    margin-left: 10px;
    height: 25px;

}
.cont{
    font-weight: 400;
    font-size: 1.2rem;
    padding: 12px;
}
.about{
    font-weight: 400;
    font-size: 1.2rem;
    padding: 12px;
}
.home_button:hover{
    color: var(--greenish);
}

main {
    padding: 28.52px;
    color: var(--white);
    
}
.main_txt{
    margin-top: 55px;
    margin-bottom: 20px;
    text-align: center;
    text-justify: center;
    padding: 50px 6vw;
}
figure{
    display: flex;
    justify-content: center;
}
.im{
    font-weight: 700;
    font-size: 3.1rem;
}

.com_txt{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 0 0 170px 6vw;
}
.now{
    font-size: 1.6rem;
    text-align: center;
    text-justify: center;
}
.check{
    font-size: 2.5rem;
    color: var(--greenish);
}
.foto_desk{
    display: none;
}

