
:root{
    --red:#DA0037;
    --greenish:#11CC9E;
    --white:#ffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;;
    background-color: #121212;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 320px;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
}
.header_container{
    display: flex;
    color: var(--white);
}
.logo{
    position: relative;
    margin-top: -9px;
    margin-left: 10px;
    height: 25px;

}
.cont{
    font-weight: 400;
    font-size: 1.1rem;
    padding: 12px;
}
.about{
    font-weight: 400;
    font-size: 1.1rem;
    padding: 12px;
}
.home_button:hover{
    color: var(--greenish);
}

main {
    padding: 28.52px;
    color: var(--white);
}
.main_txt{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
figure{
    display: flex;
    justify-content: center;
}
.im{
    font-size: 3.1rem;
    text-justify: center;
}

.com_txt{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
.now{
    font-size: 1.5rem;
}
.check{
    font-size: 2.5rem;
    color: var(--greenish);
}
